@page "/customers"
@inject ICustomerRepository Repository


<h3>Customers</h3>

<div>
    <label for="searchText">Search: </label>
    <input id="searchText" type="text" @bind-value="@searchText" />

    <button type="button" class="btn btn-primary" @onclick="Search">Search</button>
</div>

<Loader IsLoading="@IsLoading">

    <TableTemplate Items="@Customers" Context="customer">
        <HeaderTemplate>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </HeaderTemplate>

        <RowTemplate>
            <td>#@customer.Id</td>
            <td>@customer.FirstName</td>
            <td>@customer.LastName</td>
        </RowTemplate>
    </TableTemplate>

</Loader>



@code {

    private IEnumerable<Customer> Customers { get; set; }

    private bool IsLoading { get; set; }

    private string searchText;

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;

        await Task.Delay(3000);

        Customers = await Repository.GetAllAsync();

        IsLoading = false;
    }

    private void Search()
    {
        Console.WriteLine(searchText);
    }
}
